<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drink</key>
	<dict>
		<key>name</key>
		<string>drink</string>
		<key>count</key>
		<string>81</string>
	</dict>
	<key>cymbals</key>
	<dict>
		<key>name</key>
		<string>cymbals</string>
		<key>count</key>
		<string>13</string>
	</dict>
	<key>fart</key>
	<dict>
		<key>name</key>
		<string>fart</string>
		<key>count</key>
		<string>28</string>
	</dict>
	<key>scratch</key>
	<dict>
		<key>name</key>
		<string>scratch</string>
		<key>count</key>
		<string>56</string>
	</dict>
	<key>pie</key>
	<dict>
		<key>name</key>
		<string>pie</string>
		<key>count</key>
		<string>24</string>
	</dict>
	<key>eat</key>
	<dict>
		<key>name</key>
		<string>eat</string>
		<key>count</key>
		<string>40</string>
	</dict>
	<key>foot_right</key>
	<dict>
		<key>name</key>
		<string>foot_right</string>
		<key>count</key>
		<string>30</string>
	</dict>
	<key>foot_left</key>
	<dict>
		<key>name</key>
		<string>foot_left</string>
		<key>count</key>
		<string>30</string>
	</dict>
	<key>angry</key>
	<dict>
		<key>name</key>
		<string>angry</string>
		<key>count</key>
		<string>26</string>
	</dict>
	<key>stomach</key>
	<dict>
		<key>name</key>
		<string>stomach</string>
		<key>count</key>
		<string>34</string>
	</dict>
	<key>happy</key>
	<dict>
		<key>name</key>
		<string>happy</string>
		<key>count</key>
		<string>29</string>
	</dict>
	<key>sneeze</key>
	<dict>
		<key>name</key>
		<string>sneeze</string>
		<key>count</key>
		<string>14</string>
	</dict>
	<key>yawn</key>
	<dict>
		<key>name</key>
		<string>yawn</string>
		<key>count</key>
		<string>31</string>
	</dict>
	<key>happy_simple</key>
	<dict>
		<key>name</key>
		<string>happy_simple</string>
		<key>count</key>
		<string>25</string>
	</dict>
	<key>knockout</key>
	<dict>
		<key>name</key>
		<string>knockout</string>
		<key>count</key>
		<string>81</string>
	</dict>
</dict>
</plist>
