<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gift</key>
	<array>
		<dict>
			<key>giftId</key>
			<string>0</string>
			<key>giftName</key>
			<string>布加迪</string>
			<key>giftImageName</key>
			<string>bugatti</string>
			<key>giftImageCount</key>
			<string>68</string>
			<key>giftImageDuration</key>
			<string>2.5</string>
			<key>giftImageX</key>
			<string>25</string>
			<key>giftImageY</key>
			<string>320</string>
			<key>giftImageW</key>
			<string>360</string>
			<key>giftImageH</key>
			<string>190</string>
			<key>images</key>
			<array>
				<string>bugatti_00000.png</string>
				<string>bugatti_00001.png</string>
				<string>bugatti_00002.png</string>
				<string>bugatti_00003.png</string>
				<string>bugatti_00004.png</string>
				<string>bugatti_00005.png</string>
				<string>bugatti_00006.png</string>
				<string>bugatti_00007.png</string>
				<string>bugatti_00008.png</string>
				<string>bugatti_00009.png</string>
				<string>bugatti_00010.png</string>
				<string>bugatti_00011.png</string>
				<string>bugatti_00012.png</string>
				<string>bugatti_00013.png</string>
				<string>bugatti_00014.png</string>
				<string>bugatti_00015.png</string>
				<string>bugatti_00016.png</string>
				<string>bugatti_00017.png</string>
				<string>bugatti_00018.png</string>
				<string>bugatti_00019.png</string>
				<string>bugatti_00020.png</string>
				<string>bugatti_00021.png</string>
				<string>bugatti_00022.png</string>
				<string>bugatti_00023.png</string>
				<string>bugatti_00024.png</string>
				<string>bugatti_00025.png</string>
				<string>bugatti_00026.png</string>
				<string>bugatti_00027.png</string>
				<string>bugatti_00028.png</string>
				<string>bugatti_00029.png</string>
				<string>bugatti_00030.png</string>
				<string>bugatti_00031.png</string>
				<string>bugatti_00032.png</string>
				<string>bugatti_00033.png</string>
				<string>bugatti_00034.png</string>
				<string>bugatti_00035.png</string>
				<string>bugatti_00036.png</string>
				<string>bugatti_00037.png</string>
				<string>bugatti_00038.png</string>
				<string>bugatti_00039.png</string>
				<string>bugatti_00040.png</string>
				<string>bugatti_00041.png</string>
				<string>bugatti_00042.png</string>
				<string>bugatti_00043.png</string>
				<string>bugatti_00044.png</string>
				<string>bugatti_00045.png</string>
				<string>bugatti_00046.png</string>
				<string>bugatti_00047.png</string>
				<string>bugatti_00048.png</string>
				<string>bugatti_00049.png</string>
				<string>bugatti_00050.png</string>
				<string>bugatti_00051.png</string>
				<string>bugatti_00052.png</string>
				<string>bugatti_00053.png</string>
				<string>bugatti_00054.png</string>
				<string>bugatti_00055.png</string>
				<string>bugatti_00056.png</string>
				<string>bugatti_00057.png</string>
				<string>bugatti_00058.png</string>
				<string>bugatti_00059.png</string>
				<string>bugatti_00060.png</string>
				<string>bugatti_00061.png</string>
				<string>bugatti_00062.png</string>
				<string>bugatti_00063.png</string>
				<string>bugatti_00064.png</string>
				<string>bugatti_00065.png</string>
				<string>bugatti_00066.png</string>
				<string>bugatti_00067.png</string>
			</array>
		</dict>
		<dict>
			<key>giftId</key>
			<string>1</string>
			<key>giftName</key>
			<string>巧克力</string>
			<key>giftImageName</key>
			<string>ChocoFall</string>
			<key>giftImageCount</key>
			<string>32</string>
			<key>giftImageDuration</key>
			<string>2.2</string>
			<key>giftImageX</key>
			<string>0</string>
			<key>giftImageY</key>
			<string>0</string>
			<key>giftImageW</key>
			<string>414</string>
			<key>giftImageH</key>
			<string>736</string>
			<key>images</key>
			<array>
				<string>ChocoFall_0001.png</string>
				<string>ChocoFall_0002.png</string>
				<string>ChocoFall_0003.png</string>
				<string>ChocoFall_0004.png</string>
				<string>ChocoFall_0005.png</string>
				<string>ChocoFall_0006.png</string>
				<string>ChocoFall_0007.png</string>
				<string>ChocoFall_0008.png</string>
				<string>ChocoFall_0009.png</string>
				<string>ChocoFall_0010.png</string>
				<string>ChocoFall_0011.png</string>
				<string>ChocoFall_0012.png</string>
				<string>ChocoFall_0013.png</string>
				<string>ChocoFall_0014.png</string>
				<string>ChocoFall_0015.png</string>
				<string>ChocoFall_0016.png</string>
				<string>ChocoFall_0017.png</string>
				<string>ChocoFall_0018.png</string>
				<string>ChocoFall_0019.png</string>
				<string>ChocoFall_0020.png</string>
				<string>ChocoFall_0021.png</string>
				<string>ChocoFall_0022.png</string>
				<string>ChocoFall_0023.png</string>
				<string>ChocoFall_0024.png</string>
				<string>ChocoFall_0025.png</string>
				<string>ChocoFall_0026.png</string>
				<string>ChocoFall_0027.png</string>
				<string>ChocoFall_0028.png</string>
				<string>ChocoFall_0029.png</string>
				<string>ChocoFall_0030.png</string>
				<string>ChocoFall_0031.png</string>
				<string>ChocoFall_0032.png</string>
			</array>
		</dict>
		<dict>
			<key>giftId</key>
			<string>2</string>
			<key>giftName</key>
			<string>花</string>
			<key>giftImageName</key>
			<string>gift_animation_31</string>
			<key>giftImageCount</key>
			<string>22</string>
			<key>giftImageDuration</key>
			<string>1.8</string>
			<key>giftImageX</key>
			<string>25</string>
			<key>giftImageY</key>
			<string>220</string>
			<key>giftImageW</key>
			<string>360</string>
			<key>giftImageH</key>
			<string>305</string>
			<key>images</key>
			<array>
				<string>gift_animation_31_00.png</string>
				<string>gift_animation_31_01.png</string>
				<string>gift_animation_31_02.png</string>
				<string>gift_animation_31_03.png</string>
				<string>gift_animation_31_04.png</string>
				<string>gift_animation_31_05.png</string>
				<string>gift_animation_31_06.png</string>
				<string>gift_animation_31_07.png</string>
				<string>gift_animation_31_08.png</string>
				<string>gift_animation_31_09.png</string>
				<string>gift_animation_31_10.png</string>
				<string>gift_animation_31_11.png</string>
				<string>gift_animation_31_12.png</string>
				<string>gift_animation_31_13.png</string>
				<string>gift_animation_31_14.png</string>
				<string>gift_animation_31_15.png</string>
				<string>gift_animation_31_16.png</string>
				<string>gift_animation_31_17.png</string>
				<string>gift_animation_31_18.png</string>
				<string>gift_animation_31_19.png</string>
				<string>gift_animation_31_20.png</string>
				<string>gift_animation_31_21.png</string>
			</array>
		</dict>
		<dict>
			<key>giftId</key>
			<string>3</string>
			<key>giftName</key>
			<string>爱心</string>
			<key>giftImageName</key>
			<string>LoveFalling</string>
			<key>giftImageCount</key>
			<string>16</string>
			<key>giftImageDuration</key>
			<string>2.0</string>
			<key>giftImageX</key>
			<string>0</string>
			<key>giftImageY</key>
			<string>0</string>
			<key>giftImageW</key>
			<string>414</string>
			<key>giftImageH</key>
			<string>736</string>
			<key>images</key>
			<array>
				<string>LoveFalling_0000.png</string>
				<string>LoveFalling_0001.png</string>
				<string>LoveFalling_0002.png</string>
				<string>LoveFalling_0003.png</string>
				<string>LoveFalling_0004.png</string>
				<string>LoveFalling_0005.png</string>
				<string>LoveFalling_0006.png</string>
				<string>LoveFalling_0007.png</string>
				<string>LoveFalling_0008.png</string>
				<string>LoveFalling_0009.png</string>
				<string>LoveFalling_0010.png</string>
				<string>LoveFalling_0011.png</string>
				<string>LoveFalling_0012.png</string>
				<string>LoveFalling_0013.png</string>
				<string>LoveFalling_0014.png</string>
				<string>LoveFalling_0015.png</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
